/* HEADER /// FOOTER  */
.he {
    display: flex;
    justify-content: space-around;
    background-color: $base-color;
    color: $white;
    box-shadow: 0 10px 20px $tv-color;
    padding: 10px;
     & > .logo > .logo1 {
         color: $tv-color;
        border: 5px solid $tv-color;
        border-right: none;
     }
     & > .logo > .logo2 {
        color: $tv-color;
        border: 5px solid $tv-color;
        border-left: none;
        margin-left: 10px;
        padding: 2px;
    }
    & > .bla > .dropDownMenu {
        
        color: $base-color;
        background-color: $tv-color;
        
            & > p {
                border-bottom: 1px solid black;
                min-height: 40px;
                padding: 5px;
                margin: 0;
            }
        }
}

.foo {
    display: flex;
    justify-content: center;
    background-color: $base-color;
    color: $white;
    box-shadow:  0 -10px 15px $tv-color;
    padding: 2px;

}
