// DRUGA STRANICA
.singleShow {
    width: 100%;
    min-height: 600px;
    border-top: 1px solid #3C948B;
    box-shadow: 0 -5px 5px $tv-color;
    &>.infoFilm {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        &>.title {
            font-size: 32px;
        }
        &>.det {
            padding: 5px;
            align-self: start;
        }
        &>.details {
            min-height: 150px;
            justify-self: center;
            padding: 10px;
            margin-top: 50px;
        }
    }
}

.divSecond {
    margin-top: 50px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    &>.bild {
        width: 40%;
        height: 90%;
        margin-right: 0;
        display: block;
        justify-self: center;
        align-self: center;
    }
    &>.divThird {
        width: 60%;
        justify-content: center;
        align-self: center;
        margin-left: 5%;
        padding: 0 10px;
    }
}