$base-color : #343A40;
$tv-color : #3C948B;
$white : #fff;

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.pointer {
    cursor: pointer;
}

@import "header";  

@import "firstPage";

@import "secondPage";